@import url(card.css);

#projects {
    background-color: var(--gray-500);
    height: 917px;

    padding: 4.5rem 7.5rem 9rem 7.5rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
}

.title h3 {
    font: var(--text-subtitle);
    color: var(--color-red);
}

.title h2 {
    font: var(--title-md);
    color: var(--gray-100);
    padding-top: .5rem;
}