#intro {
    background-image: url(../assets/Background_Intro.png);
    background-size: cover;
    height: 750px;
    color: var(--gray-100);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#intro > div:not(.tag-bar, .tag) {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.initial-group {
    padding-top: 3.5rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.text-group h1 {
    display: inline-block;
    font: var(--title-lg);
}

.text-group p {
    display: inline-block;
    font: var(--text-sm);
    color: var(--gray-300);
}

.text-group {
    width: fit-content;
}

#intro h2 {
    font: var(--text-subtitle);
    color: var(--gray-200);
    padding-bottom: .5rem;

    & span {
        color: var(--color-red);
    }
}

.container {
    position: relative;
    width: 7rem;
    height: 7rem;
}

.profile-image img {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    border-radius: 100%;
    padding: 6px;
    border: 2px solid var(--color-red);
}

.icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tag-bar {
    font: var(--text-md);
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 0.25rem; 
    padding: .5rem 1rem;
    background-color: var(--gray-400);
    border-radius: 2rem;
}

.tag:hover {
    border: 1px solid var(--gray-300);
}

.tag span {
    text-align: center;
}

.tag img {
    height: 1.5rem;
    width: auto;
}

.next-secction {
    width: 2rem;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}