#service {
    background-color: var(--gray-600);
    background-size: cover;
    height: 100%;
    justify-content: center;

    padding: 5.5rem 15rem 7.5rem 15rem;
}

.grid-serv-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.serv-card {
    padding: 1.25rem;
    border: 2px solid var(--gray-500);
    border-radius: .75rem;
    width: 280px;

    & h3 {
        font: var(--title-sm);
        color: var(--gray-100);
        padding-top: 1.25rem;
    }
    
    & p {
        font: var(--text-sm);
        color: var(--gray-200);
        padding-top: .5rem;
    }
}